
html{
	background-color:#ADD8E6;
}

body, #mainWrapper {
	height: 100%;
	background-image: -webkit-gradient(
	linear,
	right bottom,
	right top,
	color-stop(0, #EAF5F8),
	color-stop(0.50, #CBE6EF),
	color-stop(0.75, #ADD8E6),
	color-stop(1, #FFFFFF)
);
background-image: -o-linear-gradient(top, #EAF5F8 0%, #CBE6EF 50%, #ADD8E6 75%, #FFFFFF 100%);
background-image: -moz-linear-gradient(top, #EAF5F8 0%, #CBE6EF 50%, #ADD8E6 75%, #FFFFFF 100%);
background-image: -webkit-linear-gradient(top, #EAF5F8 0%, #CBE6EF 50%, #ADD8E6 75%, #FFFFFF 100%);
background-image: -ms-linear-gradient(top, #EAF5F8 0%, #CBE6EF 50%, #ADD8E6 75%, #FFFFFF 100%);
background-image: linear-gradient(to top, #EAF5F8 0%, #CBE6EF 50%, #ADD8E6 75%, #FFFFFF 100%);
}

body, #mainWrapper, .form-control{
	font-size:14px!important;
}

#mainWrapper {
	height: 100vh; 
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
}

#authHeaderWrapper{
	clear:both;
	width: 100%;
	height:3%;
	padding-top:5px;
	padding-bottom:5px;
}

.login-container {
    margin-top: 100px;
    background-color: floralwhite;
    width: 40%;
    left: 30%;
    position: absolute;
}

.login-card {
    width: 80%;
    margin: auto;
}

.login-form {
    padding: 10%;
}